.navbarContainer{
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;

}
.navbarBrand{
    font-weight: 700;

}
/* .me-2{
    height:50%;

} */
.basic-navbar-nav{
    display: flex;
    justify-content: space-around;
}